* {
  font-family: 'Roboto';
  margin: 0;
}

h1,h2,h3 {
  font-family: 'Roboto Slab';
}

.menu{
  height: 18px;
  background-color: #6C933E;
  padding: 16px;
  position: fixed;
}

#hero-comienzos-compartidos{
  color: #ffffff;
  background-image: url('/images/hero-cover.webp');
  background-size: cover;
  height: 556px;
  background-position: 85% center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 64px;
}

.down{
  height: 38px;
  margin-top: 24px;
}

h1{
  line-height: 50px;
}

.subtitulo{
  margin: 16px 20px 16px 20px;
}

#tienda-deporte{
  margin: 30px 16px 30px 16px;
}

.antetitulo{
  color:#6C933E;
  font-size: 14px;
}

h2{
  font-size: 22px;
}

.texto{
  margin: 16px 0 40px 0;
  font-size: 18px;
  line-height: 30px;
  color: #4A4A4A;
  font-weight: 400;
}

.comprar{
  color:#6C933E;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px; 
  border: 2px solid #6C933E;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
}

#vuelta-cole{
  background-color: #D9E4CC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.antetitulo-dos{
  margin: 18px 0 4px 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  color: #626262;
}

.img-redonda{
  border-radius: 300px;
  box-shadow: 0 4px 4px 0 #00000040;
  height: 124px;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

h3{
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.empezar{
  color: #ffffff;
  background-color: #6C933E;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  padding: 18px 32px;
  margin: 30px 0 80px 0;
}

.up{
  display: block;
  margin: -25px auto -45px auto;
  position: relative;
  top: -25px;
}

.footer {
  background-color: #4A4A4A;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 60px 0 100px 0;
}

.nav-uno a{
  color: white;
  text-decoration: none;
  padding: 10px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.nav-dos a{
  color: white;
  text-decoration: none;
  padding: 10px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.nav-dos{
  padding: 30px 0;
}
